@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using EmployeeManager.Mvc.Models
@model List<Employee>

<h2>Liste over ansatte</h2>
<h2 class="message">@TempData["Message"]</h2>
<a asp-controller="EmployeeManager" asp-action="Insert" class="linkbutton">Opprett</a>
<br /> <br />
<table border="1">
    <tr>
        <th>Ansatt ID</th>
        <th>Fornavn</th>
        <th>Etternavn</th>
        <th>Tittel</th>
        <th colspan="2">Valg</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.EmployeeID</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Title</td>
            <td>
                <a asp-controller="EmployeeManager" asp-action="Update" asp-route-id="@item.EmployeeID" class="linkbutton">Oppdater</a>
            </td>
            <td>
                <a asp-controller="EmployeeManager" asp-action="Delete" asp-route-id="@item.EmployeeID" class="linkbutton">Slett</a>
            </td>
        </tr>
    }
</table>